.spacer-800{
    min-height: 800px;
}

::selection{
    background-color: #304d81;
    color: #dce8ff;
}

body {
    position: relative;
    background-image: url('/web-bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;

}