*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-wrapper{
    display: grid;
    grid-template-columns: minmax(0, 1500px);
    align-items: center;
    justify-content: center;
    
}

.primary-logo-container{
    display: grid;
    grid-template-columns: 35% 35%;
    gap: 2%;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Standard syntax */
    transition: all 0.35s ease-in-out;
}

.woodside-logo-container{
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.813);
    
}

.woodside-logo-container:hover{
    border: 5px solid rgb(0, 112, 64);
    box-shadow: 0 0 30px rgba(0, 253, 143, 0.813);
}

.woodside-logo-container a{
    margin-left: auto;
    margin-right: auto;
}

.woodside-logo-container img{
    width: 70%;
    margin-left: 27px;
    max-height: 150px;
    object-fit: contain;
}

.sfs-logo-container{
    background-color: rgb(114, 119, 238);
    box-shadow: 0 0 30px rgb(0, 0, 0);
    display: flex;

}

.sfs-logo-container:hover{
    border: 5px solid rgb(114, 119, 238);
    box-shadow: 0 0 30px rgb(176, 134, 255);
}

.sfs-logo-container a{
    margin-left: auto;
    margin-right: auto;
}

.sfs-logo-container img{
    width: 67%;
    margin-left: 27px;
    max-height: 150px;
    object-fit: contain;
    padding-top: 10px;
}

.primary-logo-grid-items{
    border-radius: 5px;
    border: 5px solid rgba(252, 252, 252, 0);
    cursor: pointer;
    transition: all 0.27s ease-in-out;
}

.primary-logo-grid-items:hover{
    transform: translateY(-5px);
}

.primarysch-description-container{
    color: rgb(46, 45, 121);
    font-weight: 500;
    width: 70%;
    height: auto;
    background-color: rgba(171, 193, 255, 0.82);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    transition: all 0.35s ease-in-out;
}

.primarysch-title{
    border-radius: 5px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(20, 27, 76);
    text-align: center;
    color: white;
    overflow: hidden;
}

#primaryedu-title-txt{
    color: rgb(113, 167, 255);
}

@media screen and (max-width: 970px){
    .primarysch-description-container{
        width: 97%;
    }

    .primary-logo-container{
        grid-template-columns: 45% 45%;
        gap: 2%;
    }

    .primarysch-title{
        font-size: 30px;
    }
}

@media screen and (max-width: 400px){
    .primary-logo-container{
        grid-template-columns: none;
        grid-template-rows: 45% 45%;

    }
    .woodside-logo-container{
        margin-bottom: 30px;
    }
}