*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sixthform-wrapper{
    display: grid;
    grid-template-columns: minmax(0, 1500px);
    align-items: center;
    justify-content: center;
    
}

.ams-logo-container{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(1, 86, 140);
    padding: 15px;
    box-shadow: 0 0 100px rgba(192, 150, 23, 0.758);
    border-radius: 5px;
    border: 5px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Standard syntax */

}

.ams-logo-container:hover{
    transform: translateY(-5px);
    border: 5px solid rgb(192, 150, 24);
}

.ams-logo-container a{
    display: flex;
    
}

.amsLogo-img{
    width: 70%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.sixthform-description-container{
    width: 70%;
    height: auto;
    background-color: rgba(171, 193, 255, 0.82);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.sixthform-title{
    border-radius: 5px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(20, 27, 76);
    text-align: center;
    color: white;
}

#form-heading-txt{
    color: rgb(113, 167, 255);
}

@media screen and (max-width: 970px){
    .ams-logo-container{
        width: 97%;
    }

    .amsLogo-img{
        width: 90%;
    }

    .sixthform-description-container{
        width: 97%;
    }
}