.spacer-800{
    min-height: 800px;
}

/* ::selection{
    background-color: rgb(35, 117, 184);
    color: white;
} */

body {
    position: relative;
    background-image: url('assets\123134-transformed-min.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}