*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portfolio-wrapper{
    display: grid;
    grid-template-columns: minmax(0, 1500px);
    align-items: center;
    justify-content: center;
}

.portfolioLogo-container{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 196, 255);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    border-radius: 5px;
    border: 5px solid rgba(255, 255, 255, 0);
    transition: all 0.35s ease-in-out;
    cursor: pointer;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Standard syntax */
}

.portfolioLogo-container:hover{
    transform: translateY(-5px);
    border: 5px solid rgb(113, 167, 255);
    box-shadow: 0 0 50px rgb(51, 129, 255);
}

.portfolioLogo-container img{
    display: flex;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    max-height: 150px;
    padding: 20px;
}


.portfolio-description-container{
    color: rgb(46, 45, 121);
    font-weight: 500;
    width: 70%;
    height: auto;
    background-color: rgba(171, 193, 255, 0.82);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    transition: all 0.35s ease-in-out;
}



.portfolio-heading{
    border-radius: 5px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(20, 27, 76);
    text-align: center;
    color: white;
    overflow: hidden;
}

#website-heading-text{
    color: rgb(113, 167, 255);
}

@media screen and (max-width: 970px){
    .portfolioLogo-container{
        width: 97%;
    }

    .portfolio-description-container{
        width: 97%;
    }

    .portfolio-heading{
        font-size: 30px;
    }
}