*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error-wrapper{
    display: grid;
    grid-template-columns: minmax(0,1500px);
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 118);
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;  
       /* Standard syntax */
    
}

.error-container{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.error-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-img img{
    object-fit: contain;
    max-width: 80%;
    
    
}

.not-found{
    color: rgb(152, 141, 255);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}